<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatdraw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Services.ChatService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name=".Credits.TransactionActivity" />
        <activity android:name=".Activities.ImagePreviewActivity" />
        <activity android:name=".Credits.CreditActivity" />
        <activity android:name=".Activities.InviteFriendActivity" />
        <activity android:name=".AccountActivity.ContactUsActivity" />
        <activity android:name=".AccountActivity.RatingActivity" />
        <activity android:name=".Activities.GroupCreateActivity" />
        <activity android:name=".AccountActivity.UsernameEditActivity" />
        <activity android:name=".AccountActivity.NameEditActivity" />
        <activity
            android:name=".AccountActivity.ProfileEditActivity"
            android:theme="@style/AppThemeWithActionBar" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AccountActivity.NotificationHeaderActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".AccountActivity.PersonalActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.NewGroupActivity" />
        <activity android:name=".Activities.NewMessageActivity" />
        <activity android:name=".AccountActivity.SettingsActivity" />
        <activity android:name=".Activities.FindFriendActivity" />
        <activity android:name=".Activities.FriendListActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountActivity.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>