<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatdraw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivity.PersonalActivity"></activity>
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".MainChat.NewGroupActivity" />
        <activity android:name=".MainChat.NewMessageActivity" />
        <activity android:name=".AccountActivity.SettingsActivity" />
        <activity android:name=".Contacts.FindFriendActivity" />
        <activity android:name=".Contacts.FriendListActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity
            android:name=".MainChat.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>